@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-12">
        <h2>TicTacToe</h2>
        <div class="alert alert-info">
            <p>TictacToe to gra w kółko krzyżyk dla 2 osób.</p>
            <p>Gra się miło, aż ktoś wygra</p>
            <p>Powodzenia</p>
        </div>
        <p>
            <h3>Zarejestruj się <a asp-controller="UserRegistration" asp-view="Index">tutaj</a></h3>
        </p>
    </div>
</div>
